/* *{
    border: 1px solid red;
} */
#navbar{
    background: #414141;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center  ;
}
#nav-left , #nav-right{
    height: fit-content;
   
}
#nav-left a, #nav-right a{
    color: #fff;
    font-size: 1rem;
    margin:0rem 1rem ;
    padding: 0.5rem;
}
#nav-right button{
   padding: 0.5rem;
   margin: 0rem 0.5rem;
   border: 0.1rem solid black;
   border-radius: 0.5rem;
   background: rgb(255, 15, 150);
}
#nav-left a:hover, #nav-right a:hover{
color:rgb(255, 15, 150);
border-bottom: 0.2rem solid #afafab;
}

#nav-right button:hover{
    scale: 1.1;
    transition: all .3s ease-in-out;
    background:rgb(255, 15, 150);
}

#logo h1{
    color: rgb(255, 15, 150);
}












